@{
    ViewData["Title"] = "About Book Loan";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>
    <div>
        <div>
            <ul>
                <li>We are an online Book Library</li>
                <li>We provide Book loans from multiple locations</li>
                <li>We provide Book reviews</li>
            </ul>
        </div>
        <div>
            <img src=@Url.Content("~/images/logo2.png") alt="Library Logo" class="img-responsive" asp-append-version="true" />
        </div>
    </div>
</p>
